.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
    position: relative;
}

.header-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin-right: 12px;
}

.user-profile > img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.user-profile > img:hover{
    cursor: pointer;
}


.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 22px 17px;
    width: 210px;
    height: 117px;
    background-color: var(--gray9);
    position: absolute;
    right: 0;
    bottom: -46px;
    border-radius: var(--radius-1);
    box-shadow: 0px 4px 40px -12px rgba(0, 0, 0, 0.25);
    /* border: 1px solid green; */
    gap: 28px;
    /* display: none; */
}

.hidden-profile{
    display: none;
    border: 1px solid red;
}

.container-login>div {
    display: flex;
    gap: 20px;
    /* color: var(--gray4); */
    opacity: 0.6;
}

.container-login>div:hover {
    /* color: var(--gray1); */
    cursor: pointer;
    opacity: 1;
}

section>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 64px;
    background-color: var(--gray8);
}

section>div>h3 {
    /* background-color: yellow; */
    width: 800px;
    margin: 0 auto;
}

.list-feed {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-feed header div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-feed div>span:nth-child(3) {
    color: var(--gray6);
    /* background-color: red; */
}

.list-feed div>span:nth-child(4) {
    color: var(--gray4);
    /* background-color: red; */
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /* align-items: flex-start; */
    gap: 20px;
}

.content p {
    color: var(--gray3);
}

.content a {
    /* background-color: red;
    display: inline-block; */
    color: var(--brand1);
    text-decoration: none;
}