input,
textarea{
    background-color: var(--gray8);
    border: 1px solid var(--gray6);
    border-radius: var(--radius-1);
    outline: none;
}

input {
    height: 44px;
    padding: 0 16px;

}
textarea{
    height: 120px;
    padding: 16px 16px;
}

input:focus,
textarea:focus {
    background-color: var(--gray9);
    border: 1px solid var(--gray1);
    border-radius: var(--radius-1);
    outline: none;
}