.modal-edit{
    display: none;
}

.modal-create{
    display: none;
    /* border: 1px solid red; */
}
.modal-delete{
    display: none;
}

.modal{
display: flex;
    flex-direction: column;
    /* justify-content:flex-end; */
    width: 800px;
    background-color: var(--gray9);
    border-radius: 8px;
    padding: 30px 24px;
}

.modal header{
    padding-bottom: 47px;
}

.edit-title-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;

}
.edit-content-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 44px;
}

.edit-content-container p{
 color: var(--gray3);
}

.edit-buttons{
    display: flex;
    justify-content: right;
    gap: 16px;
}

.remove-buttons{
    display: flex;
    gap: 16px;
}

