.modal-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var();
    position: fixed;
    top: 0;
    align-items:flex-start;
    padding-top: 50px;
    background-color: var(--opacity);
    display: none;
}
article{
    display: flex;
    flex-direction: column;
    /* justify-content:flex-end; */
    width: 800px;
    background-color: var(--gray9);
    border-radius: 8px;
    padding: 30px 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.modal-container div > span:nth-child(3) {
    color: var(--gray6);
    /* background-color: red; */
}

.modal-container div > span:nth-child(4) {
    color: var(--gray4);
    /* background-color: red; */
}