body {
    overflow-x: hidden;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: var(--gray9);
    width: 369px;
    border: 1px solid var(--border);
    padding: 44px 24px;
}

.register-form header {
    display: flex;
    justify-content: space-between;
}

.register-form form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.register-form div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-form button {
    width: 100%;
}

.register-title {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register-title h2:nth-child(2) {
    color: var(--brand1)
}

.register-title p {
    color: var(--gray3)
}