.tooltips {
    padding: 21px 32px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 16px;
    bottom: 28px;
    gap: 17px;
    border-radius: var(--radius-1);
    background-color: var(--gray9);
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.1);
    transform: translateX(500px)
}

.show-toast {
    animation: toast 8s ease;
    display: flex;
}

.tooltips div {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--sucess1);
}

.tooltips p {
    width: 377px;
    line-height: 150%;
    color: var(--gray2);
}

.tooltips p a {
    color: var(--brand1);
}


@keyframes toast {
    0% {
        transform: translateX(450px);
    }

    10% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(450px);
    }
}